//@import 'nib'
#header
  width 100%
  box-sizing border-box
  height 2.2rem
  line-height 2.2rem
  position absolute
  top 0
  left 0
  padding 0 0.375rem
  background-color #f2f2f2
  .logo
    display inline-block
    width  6.02rem
    height 2.2rem
    line-height 2.2rem
  //vertical-align middle
  .pop_search_bt
    display inline-block
    height 2.2rem
    line-height 2.2rem
    font-size 1rem
    float right
    i
      font-size 1rem
  .pop_header_bt
    display inline-block
    height 2.2rem
    line-height 2.2rem
    font-size 1rem
    float right
    margin-left  1rem
    i
      font-size 1rem

  .header_search_pop
    position absolute
    top 2.2rem
    left 0
    background-color #ffffff
    width 100%
    height 16.75rem;
    max-height 25rem
    z-index 9999
    border-top  1px solid  #b7b7b7


    box-sizing border-box
    .course_search_input
      padding 0 0.375rem
      height 2.35rem
      border-bottom  1px solid  #b7b7b7

      .course_search_form
        height 100%
        overflow hidden
        .search_warp
          margin 0.4rem  auto 0 auto
          width 13rem

        .search_warp_border
          border 1px solid  #b7b7b7
          width 10rem
          height 1.5rem
          float left
          border-radius 0.2rem
        .edu_search
          color #999999
          font-size 0.8rem
          float left
          margin-top -0.35rem
          margin-left 0.4rem
          margin-right 0.3rem
        .course_input
          width 8rem
          border none
          height 100%
          outline none
          float left

        .course_submit
          width 2.5rem
          font-size 0.8rem
          height 1.5rem
          line-height  1.5rem
          float right
          background-color transparent
          border  1px solid  #6edd6e
          color #6edd6e
          border-radius 0.2rem
          box-sizing content-box
    .recommond_tag
      padding 0 0.375rem
      .recommond_tag_title
        height 2rem
      .recommond_tag_content
        min-height 2.5rem
        .search_tag
          padding 0 0.5rem
          display inline-block
          height 1.25rem
          line-height 1.25rem
          margin-right   0.625rem
          border 1px solid #999999



    .s26.history_seacrh
      padding 0 0.375rem
      .recommond_tag_title
        height 2rem
      .recommond_tag_content
        min-height 2.5rem
        .search_tag
          padding 0 0.5rem
          display inline-block
          height 1.25rem
          line-height 1.25rem
          margin-right   0.625rem
          border 1px solid #999999
  .header_second_nav_pop
    padding-top 0.7rem
    padding-left 0.43rem
    position absolute
    top 2.2rem
    left 0
    /* width 100%*/
    /*height 16.75rem;*/
    max-height 25rem
    z-index 9999
    color #ffffff
    /*background-color red*/
    text-align center
    line-height 100%
    a.fenlei_warp
      //display inline-block
      width 3rem
      float left
      text-align center
      overflow hidden
      color #ffffff
      .fenlei_bg
        width 2.35rem
        height 2.35rem
        line-height 2.35rem
        text-align center
        margin 0 auto
        border-radius 0.2rem
        overflow hidden
        .iconfont
          font-size 1.2rem
      &:nth-child(1)  .fenlei_bg
        background-color #17605a
      &:nth-child(2)  .fenlei_bg
        background-color #fe5242
      &:nth-child(3)  .fenlei_bg
        background-color #0fd1dd
      &:nth-child(4)  .fenlei_bg
        background-color #44ace6
      &:nth-child(5)  .fenlei_bg
        background-color #95a5a5
      &:nth-child(6)  .fenlei_bg
        background-color #9177f3
      &:nth-child(7)  .fenlei_bg
        background-color #fd9b53
      &:nth-child(8)  .fenlei_bg
        background-color #f45abf
      &:nth-child(9)  .fenlei_bg
        background-color #f1c40f
      &:nth-child(10)  .fenlei_bg
        background-color #2dcc70
      &:nth-child(11)  .fenlei_bg
        background-color #798af7
      &:nth-child(12)  .fenlei_bg
        background-color #c166e4
      &:nth-child(13)  .fenlei_bg
        background-color #ff7c5e
      &:nth-child(14)  .fenlei_bg
        background-color #47c9af
      &:nth-child(15)  .fenlei_bg
        background-color #fead37
      .fenlei_desc
        text-align center
        height 2rem
        line-height 2rem