//@import 'nib'
.index_pannel
      .single_line_content
          margin-bottom 0.5rem
          ul:nth-child(1)
            padding-right 0.375rem
          ul:nth-child(2)
            padding-left 0.375rem
          ul
            width 50%
            float left
            box-sizing border-box
            .img_li
              /*width 7.25rem*/
              height 4.95rem
              position relative
              overflow hidden
              .course_logo
                  transform rotate(-45deg) translate(0,1.5rem)
                  width 100%
                  height 0.8rem
                  line-height 0.8rem
                  left -50%
                  top -0.4rem
                  text-align center
                  font-size 0.5rem
                  position absolute
                  color #fff
              .course_logo_taocan
                  /*background-color #27d400*/
                  background-color:rgba(39,212,0,0.7)
              .course_logo_dujia
                background-color:rgba(255,132,0,0.7)
              .course_logo_shoufa
                background-color:rgba(0,198,255,0.7)
            .desc
                line-height 1rem
                min-height 2rem
            .price_li
                height 1rem
